<h2 class="font">IT Consultancy</h2>
<p>
  We also provide IT-Consultancy to the growing IT Industries. We have experienced Team
   to provide cutting-edge IT Solutiong and Consultancy throuout the globe. Feel free to
  <%= link_to 'contact us', contact_path %> for any need of consultancy.
</p>