<h2 class="font">Welcome to Soft Corporation Limited</h2>
<p>
  We provide software consultancy, software development, Web development and IT
  enabled services to clients across the globe. From conception
  to consultancy, design to development, we provide complete solutions
  for business concerns of all types. Armed with a workforce of highly
  talented and competent professionals, we use Global Delivery Model
  (GDM) to speed up the entire process, keeping cost predictability in
  mind. While creating innovative methods to cover business and technology,
  we work with large global corporations and new generation technology companies.
  We build original products or services and can mold your product by implementing
  prudent business and technology strategies of today's dynamic digital environment.
  Our services include the consultation, networking, system's analysis, design,
  development and support of software applications. All these services help you
  to make most of your business.
</p>